.PopUp {
    position: fixed;
    top: 5vh;
    left: 30vw;
    width: 40vw;
    height: 20vh;
    z-index: 1000;
    color: white;
    font-size: 1.3rem;
    background-color: rgba(95, 94, 94, 0.973);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.significado {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.significado:hover {
    color: #82aecc;

}

@keyframes popIn {
  0% { transform: scale(0); opacity: 0; }
  80% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1.1); opacity: 1; }
}

@keyframes popOut {
  0% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}